@CHARSET "ISO-8859-1";

img.scroll{
	position: absolute;
	transform: translate(-50%, -50%); 
	top: 80%;
}

div.scroll{
	background-color:transparent;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	text-align:center;
}

div.review{
  	display:block;
  	position: absolute;
  	top: 125%;
  	margin-bottom: 200px;
  	text-align: center;
  	transform: translate(-50%, -50%);  
}

div.reviewCover{
	background-color:transparent;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	text-align:center;
}


#AddReview{
	margin-top: 30px;
} 
#starField{
	display: none;
}

#comment{
	width: 600px;
	height: 150px;
}

img.star{
	width: 30px;
	height: 20px;
	margin-bottom: 30px;
}
