@CHARSET "UTF-8";

body{
	background-image: url("./Images/chatwallpaper.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}

.chat{
	/*background-color: #237475;*/
	width: 600px;
	height: 600px;
	margin-top:10%;
	text-align: center;
	border: solid 2px rgba(225,225,225, 0.3);	
	
}


input.form-control{
	text-align: left;
	display: block;
	border: none;    
	background: none;
	border-radius: 0px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	border-top: 1px solid rgba(255, 255, 255, 0.3);	
	color: rgba(255, 255, 255, 0.3);
}


/**.btn{
	background: transparent;
	margin-top: 40px;
	color: rgba(255, 255, 255, 0.85);
}**/


.textarea{
	width: 500px;
	height: 450px;
	margin-top: 90px;
	overflow-y: scroll;
	color: white;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}


#teller{
	height: 80px;
	width: 80px;
	
}

.outer{
	position:absolute;
	margin-left: 260px;
	border: dotted 2px white;
	width: 85px;
	height: 85px;
	border-radius: 50%;
}


#cards{
	text-align: center;
	width: 600px;
	height: 600px;
	
}

#cards img{	
	border: dotted 2px rgba(255, 255, 255, 0.3);
	height: 200px;
	width: 120px;
	margin-left: 70px;
	margin-top:15%;
	
}


