@CHARSET "ISO-8859-1";

body{
	background-image: url("./Images/gameDescription.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}


div.box {
	margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20px;
    width: 400px;
    float: left;
    text-align: center; 
    border-color: rgb(220, 220, 220);   
	border-top-style: solid;
	border-width: 1px;
}

div.textbox {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 500px;
    overflow-w: auto;
    float: left;    
    border-color: rgb(200, 200, 200);
	border-top-style: solid;
	border-width: 1px;
}

p.revText{
	margin-top: 10px;
	font-size: 100%;
	color: rgb(237, 237, 237);
}

div.stars img{
	display: inline;
	width: 20px;
	height: 20px;
}

div.name{
	margin: 10px;
	text-align: center;
}

h5.date{
	color: rgb(220, 220, 220);
}

div.review{
	 float: left;    
}

div.review{
	width: 960px;	
}

div.reviewComb{
	margin-top: 150px;
	height: 300px;
	width: 980px;
	overflow-y: scroll;
	margin-bottom: 30px;
}

.reviewComb::-webkit-scrollbar {
    width: 12px;
}

.reviewComb::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(220,220,220,0.4); 
    border-radius: 2px;
}

.reviewComb::-webkit-scrollbar-thumb {
	color: rgb(220, 220, 220);
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(220,220,220,0.8); 
}

div.cover{
	display: flex;
  	justify-content: center;
  	align-items: center;
  	margin-top: 130px;
  	text-align:center;
}

div.gamePic{
  	text-align:center;
}

div.gamePicCover{
	display: flex;
  	justify-content: center;
  	align-items: center;
  	text-align:center;
}

img.gamePic{
	text-align: center;
	margin-top: 50px;
	width: 250px;
	auto: auto;
}

#gameButt{
	position: absolute;
 	left: 50%;
 	margin-top: 60px;
 	transform: translate(-50%, -50%);  
 	text-align: center;
}

div.gameText{
	border: 1px dotted;
	border-radius: 5px;
	border-color: rgb(220, 220, 220);
	max-width: 800px;
	height: auto;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.7); 	
}

div.gameTextCover{
	background-color:transparent;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	margin-top: 30px;
  	text-align:center;	  
}

h4.gameText{
	color: rgb(220, 220, 220);
	margin-left: 20px;
	margin-right: 20px;
}

a.userId:link {
    color: rgb(220, 220, 220);
}

a.userId:visited {
    color: rgb(220, 220, 220);
}

#rating{
	text-align: center;
	color: rgb(220, 220, 220);
	position: absolute;
	top: 80%;
	transform: translate(-50%, -50%);  
}

div.ratingCover{
	display: flex;
  	justify-content: center;
  	align-items: center;
  	text-align:center;
}