@import url("NavigationBar.css");

body{
	background-image: url("./Images/homepage.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}

.popularUsers {
	position: absolute;
	right: -150px;
	top: 0;
	rigt: 0;
	margin-top: 170px;
	width: 300px;	
}

.table-hover {
	width: 300px;
	height: 160px;
}

.fortune-tellings {
	width: 900px;
	text-align: center;
}

.wrap{
	display: flex;
  	justify-content: center;
  	align-items: center;
	text-align: center;
	border-style: solid;
	border-color: rgb(220, 220, 220);	 
	border-width: 1px;
	width: 1000px;
	height: 700px;
	box-shadow: inset 0 0 0 1000px rgba(255,255,255,.1); 
	
}

.wrapwrap{
	background-color:transparent;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	text-align:center;
}

.row{
	text-align: center;
}

.pop-users {
	font-size: large;
	width: 200px;
}



.predPic{	
	display: inline;
	width: 140px;
	height: auto;
	display: none;
	z-index: -1;
	margin: 10px;
	margin-left: 20px;
}

div.finalRow{	
	display: flex;
  	justify-content: center;
  	align-items: center;
  	text-align:center;
}

a.top{
	float: right;
	color: rgb(237, 237, 237);
}

.pop-users{
	color: rgb(237, 237, 237);
}
#popButton{
	color: rgb(237, 237, 237);
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}