@import url("NavigationBar.css");
.popularUsers {
	position: absolute;
	right: 200px;
	top: 0;
	rigt: 0;
	margin-top: 170px;
	max-width: 200px;
	
}

.table-hover {
	width: 250px;
	height: 160px;
}

.fortune-tellings {
	margin-top: 50px;
	width: 900px;
	height: 800px;
	text-align: center;
}

.row{
	text-align: center;	
	border-style:solid;
	border-color: rgb(220, 220, 220);	 
	border-width: 1px;
	width: 1000px;
	height: 900px;
}

.pop-users {
	font-size: large;
	width: 200px;
}

body{
	background-color: gray;
}

.predPic{	
	display: inline;
	width: 140px;
	height: auto;
	display: none;
}

div.finalRow{	
	background-color: red;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	text-align:center;
}