@CHARSET "ISO-8859-1";


html, body, div, button {
    background-color: rgb(13, 84, 34);
}

#genBut{
	position: absolute;
 	left: 50%;
 	margin-top: 50px;
 	transform: translate(-50%, -50%);  
 	text-align: center;
}

#numbers{	
	color: white;
 	display: flex;
  	justify-content: center;
  	align-items: center;
  	margin-top: 170px;

}

h3{
	display: inline;
	margin-left: 20px;
	margin-right: 20px;
}
