@CHARSET "ISO-8859-1";


html, body, div, button {
    background-color: rgb(13, 84, 34);
}

div{
	text-align: center;
}

h3{
	display: inline;
	padding-right: 20px;
    padding-left: 20px;
	
}

#numbers{
	margin-top: 130px;
	color: white;
}


#genBut{
	margin-top: 30px;
}