@CHARSET "ISO-8859-1";
@import url("AddReview.css");

body {
    background-image: url("./Images/lottery.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}

#genBut{
	position: absolute;
 	left: 50%;
 	margin-top: 70px;
 	transform: translate(-50%, -50%);  
 	text-align: center;
 	
 }
 
 div.buttonDiv{
 	background-color:transparent; 
 }

div.numbers{	
	color: white; 
	border-top-style: dotted;
    border-right-style: dotted;
    border-bottom-style: dotted;
    border-left-style: dotted;	
    border-radius: 15px;
    border-color: rgb(255, 153, 51);
    border-width: 2.5px;
  	background-color:transparent; 
  	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.7); 	
}

div.bigNum{
	display: flex;
  	justify-content: center;
  	align-items: center;
  	margin-top: 170px;
  	color:transparent;
}


span.glyphicon-asterisk{
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
}

h3{
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
	background-color:transparent;
}

img.star{
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.7); 	
}

