#profilePic{
	width: 150px;
	height: "150px";
	padding: 1px;
	border: 1px solid #021a40;
	
}

.table-hover{
	font-size: 8pt;
}

.pos-right{
    top: 30px;
    right: 5px;
    color: red;
}

.main-nav{

}

.row-pos{
	position: relative;
}

#about-me {
	padding: 1px;
	width: 500px;
	border: 1px solid #021a40;
    margin-left: 0px;
    height: 104px;
    width: 404px;
    margin-top: 10px;
	
}



