@CHARSET "ISO-8859-1";

body{
	background-color: rgb(57, 146, 198);
	background-image: url("./Images/sky1.jpg");
	
}

#GetWeatherButton{
	position: absolute;
 	left: 50%;
 	margin-top: 60px;
 	transform: translate(-50%, -50%);  
 	text-align: center;
 }
 
div.text{text-align: center;
  font-weight: normal;
  width: 120px;
  margin: 5px;
  }
  
div.comb img {
    display: inline;
    margin: 5px;
}

div.comb {
    margin: 5px;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
}

div.dataDiv{
	border: 2px dotted;
	border-radius: 5px;
	border-color: rgb(220, 220, 220);
	background-color:transparent;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.1);
}

h3.starter{
	color: rgb(237, 237, 237);
	margin-left: 60px;
	margin-right: 60px;
	margin-top: 30px;
	margin-bottom: 30px;
}

h4.wText{
	color: rgb(237, 237, 237);
}


div.cover{
	background-color:transparent;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	margin-top: 130px;
  	text-align:center;
}

