<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Fteller</display-name>
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>authorization.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckRegistrationServlet</display-name>
    <servlet-name>CheckRegistrationServlet</servlet-name>
    <servlet-class>registration.CheckRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckRegistrationServlet</servlet-name>
    <url-pattern>/CheckRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WeatherServlet</display-name>
    <servlet-name>WeatherServlet</servlet-name>
    <servlet-class>weather.WeatherServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WeatherServlet</servlet-name>
    <url-pattern>/WeatherServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrationServlet</display-name>
    <servlet-name>RegistrationServlet</servlet-name>
    <servlet-class>registration.RegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationServlet</servlet-name>
    <url-pattern>/RegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LotteryServlet</display-name>
    <servlet-name>LotteryServlet</servlet-name>
    <servlet-class>lottery.LotteryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LotteryServlet</servlet-name>
    <url-pattern>/LotteryServlet</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>listener.MyContextListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>search.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExternalLoginServlet</display-name>
    <servlet-name>ExternalLoginServlet</servlet-name>
    <servlet-class>authorization.ExternalLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExternalLoginServlet</servlet-name>
    <url-pattern>/ExternalLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewServlet</display-name>
    <servlet-name>ReviewServlet</servlet-name>
    <servlet-class>review.ReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewServlet</servlet-name>
    <url-pattern>/ReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewsServlet</display-name>
    <servlet-name>ReviewsServlet</servlet-name>
    <servlet-class>review.ReviewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewsServlet</servlet-name>
    <url-pattern>/ReviewsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Tarot</display-name>
    <servlet-name>Tarot</servlet-name>
    <servlet-class>Games.Tarot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tarot</servlet-name>
    <url-pattern>/Tarot</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkChatRequests</display-name>
    <servlet-name>checkChatRequests</servlet-name>
    <servlet-class>chat.checkChatRequests</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkChatRequests</servlet-name>
    <url-pattern>/checkChatRequests</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addChatRequest</display-name>
    <servlet-name>addChatRequest</servlet-name>
    <servlet-class>chat.addChatRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addChatRequest</servlet-name>
    <url-pattern>/addChatRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkRequestStatus</display-name>
    <servlet-name>checkRequestStatus</servlet-name>
    <servlet-class>chat.checkRequestStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkRequestStatus</servlet-name>
    <url-pattern>/checkRequestStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteChatRequest</display-name>
    <servlet-name>deleteChatRequest</servlet-name>
    <servlet-class>chat.deleteChatRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteChatRequest</servlet-name>
    <url-pattern>/deleteChatRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>changeRequestStatus</display-name>
    <servlet-name>changeRequestStatus</servlet-name>
    <servlet-class>chat.changeRequestStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeRequestStatus</servlet-name>
    <url-pattern>/changeRequestStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>authorization.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUserServlet</display-name>
    <servlet-name>CheckUserServlet</servlet-name>
    <servlet-class>checkUser.CheckUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUserServlet</servlet-name>
    <url-pattern>/CheckUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CurrentUserServlet</display-name>
    <servlet-name>CurrentUserServlet</servlet-name>
    <servlet-class>chat.CurrentUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CurrentUserServlet</servlet-name>
    <url-pattern>/CurrentUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkMessagesServlet</display-name>
    <servlet-name>checkMessagesServlet</servlet-name>
    <servlet-class>chat.checkMessagesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkMessagesServlet</servlet-name>
    <url-pattern>/checkMessagesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addNewChatMessage</display-name>
    <servlet-name>addNewChatMessage</servlet-name>
    <servlet-class>chat.addNewChatMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addNewChatMessage</servlet-name>
    <url-pattern>/addNewChatMessage</url-pattern>
  </servlet-mapping>
</web-app>